

<div class="header-middle">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="logo pull-left">
                    <a href="@Url.Action("Index","Home")"><img src="~/Content/HinhAnhHome/logo.png" alt="" /></a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="d-flex justify-content-end">
                    @{Html.RenderPartial("_UserHeaderPartial");}
                </div>
            </div>
        </div>
    </div>
</div>
@if ((Session["Roles"] != null && Session["Roles"].ToString() == "Customer") || Session["Roles"] == null)
{
    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    @*<div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="@Url.Action("Index","Home")" class="active">Trang Chủ</a></li>
                            <li><a href="@Url.Action("Index","Shop")">Shop</a></li>
                        </ul>
                    </div>*@
                </div>
                <div class="col-sm-3">
                    @using (Html.BeginForm("Search", "Shop", FormMethod.Post))
                    {
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Tìm Kiếm Sản Phẩm" name="q" />
                            <input class="btn btn-success" type="submit" value="Tìm Kiếm" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}