@using WebApplication2.Models;
@model @String

    @if (@Model != "")
    {
        <h2 class="title text-center">Các Sản Phẩm @Model</h2>
    }
    else
    {
        <h2 class="title text-center">Các Sản Phẩm</h2>
    }