@using WebApplication2.Models;
@model IEnumerable<Genre>

<!DOCTYPE html>


    <ul>
        <li>
            <a href="@Url.Action("Index","Shop")">Tất Cả</a>
        </li>
        @foreach (var item in Model)
        {
            <li><a href="@Url.Action("Index","Shop", new {  id = "genre", q = item.GenreCode })">@item.GenreName </a></li>
        }
    </ul>


