@model WebApplication2.Models.Genre



<h1 class="display-5 text-center">Sửa Tác Giả</h1>
@using (Html.BeginForm("EditGenre", "Mod", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    { Html.RenderPartial("_GenreFormPartial", Model); }

    <div class="text-center">
        <input type="submit" value="Sửa" class="btn btn-success btn-lg btn-block mt-5" />
    </div>
    <div class="text-center">
        <a href="@Url.Action("GenreManager","Mod")" class="btn btn-danger btn-lg mt-5" style="width:15%">Hủy Bỏ</a>
    </div>
}


